/* https://coolors.co/92374d-25291c-66717e-e4dfda-ffffff */

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content, .pure-g [class *= "pure-u"] {
  font-family: 'Noto Sans', sans-serif;
}

.search-area {
  width: 850px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  font-size: 14pt;
}

.search-area input#search {
  width: 600px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 25px;
}

.search-area a.order {
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-left: 0;
  outline: 0;
}

.search-area .key {
  width: 150px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.search-area .elem {
  background: #f5f5f5;
  border: 1px solid #eee;
  box-sizing: border-box;
  color: #131517;
  float: left;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  vertical-align: middle;
}

.search-area .elem:hover {
  background-color: #eee
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 50px;
  left: 625px;
}

.dropdown-content a {
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  color: #131517;
  outline: 0;
}

.dropdown-content a:hover {
  background-color: #eee;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.treatments {
  padding: 0;
}

li.treatment-item {
  background-color: #f5f5f5;
  color: #131517;
  border: 1px solid #eee;
}

li.box-item {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
}

a.box-link {
  padding: 5px;
  text-decoration: none;
  display: block;
  color: inherit;
}

a.box-link:hover {
  background-color: #eee;
}

.treatment-column {
  box-sizing: border-box;
  padding-left: 2px;
  padding-right: 2px;
}

.treatment-column.rank {
  text-align: center;
  border-left: 1px solid #3d3f41;
}

p {
  margin: 0;
}

p.treatment-name {
  font-size: 18pt;
  color: #235789;
  font-weight: bold;
}

p.treatment-names {
  font-size: 14pt;
  color: #3d3f41;
}

p.treatment-rating {
  font-size: 30pt;
  font-weight: bold;
}

.pos {
  color: #5fad56;
}

.neu {
  color: #f2c14e;
}

.neg {
  color: #df2935;
}

p.explanation {
  font-size: 8pt;
  color: #3d3f41;
}


.details-card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #eee;
  color: 131517;
}

.details-exit {
  font-size: 30px;
  text-align: right;
}

.details-exit a {
  text-decoration: none;
  color: inherit;
}

.details-exit a:hover {
  color: #3d3f41;
}

.details-box {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 0px #DDD;
  background-color: #FFF;
  padding: 10px;
  position: relative;
}

.details-box.graph {
  height: 520px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.details-box.info {
  height: 160px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: inherit;
  outline: 0;
}

a.details-box:hover {
  background-color: #eee;
}

a.details-box.active {
  background-color: #eee;
}

.details-box .box-header{
  font-size: 8pt;
  color: #3d3f41;
}

.details-box .box-content{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30pt;
  font-weight: bold;
}

.details-box .box-footer{
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 8pt;
  color: #3d3f41;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #131517;
  margin: 10px 0;
}

.thread-header {
  box-sizing: border-box;
  font-size: 18pt;
  padding: 0 5px 5px;
}

.thread-header a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.thread-header a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

ul.sentences {
  padding-left: 5px;
}

a.sentence-box {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: inherit;
  outline: 0;
}

a.sentence-box.posbox {
  background-color: rgba(95,173,86,0.2);
}

a.sentence-box.neubox {
  background-color: rgba(242,193,78,0.2);
}

a.sentence-box.negbox {
  background-color: rgba(223,41,53,0.2);
}

a.sentence-box.posbox:hover {
  background-color: rgba(95,173,86,0.4);
}

a.sentence-box.neubox:hover {
  background-color: rgba(242,193,78,0.4);
}

a.sentence-box.negbox:hover {
  background-color: rgba(223,41,53,0.4);
}

.sentence-text {
  box-sizing: border-box;
  padding-right: 10px;
}

.sentence-details {
  box-sizing: border-box;
  font-size: 10pt;
}

.posbox .sentence-details {
  border-left: 1px solid rgb(95,173,86);
}

.neubox .sentence-details {
  border-left: 1px solid rgb(242,193,78);
}

.negbox .sentence-details {
  border-left: 1px solid rgb(223,41,53);
}
